#div1 {
    height: 150px;
    border: solid black 3px;
    background-color: aquamarine;
}

#div2 {
    height: 150px;
    border: solid black 3px;
    background-color: blanchedalmond;
}

#div3 {
    height: 150px;
    border: solid black 3px;
    background-color: cadetblue;
}

#div4 {
    height: 150px;
    border: solid black 3px;
    background-color: crimson;
}